*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
h1{
	font-size: 2.5vw;
	user-select: none;
}
ul{
	list-style: none;
}
.wrapper{
	overflow-y: hidden;
	width: 100%;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.promoContent{
    background: url(../img/Promo_Bright.png);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_button{
	width: 156px;
	height: 156px;
	background: #6C9EF4;
	position: fixed;
	right: 0;
	top: 0;
	border-radius: 0 0 0 100%;
	cursor: pointer;
	z-index: 999999;
	transition: .3s;
}
.button_middle{
	position: absolute;
    display: block;
    height: 50px;
    width: 6px;
    background: #fff;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.button_top{
	display: block;
	background: #fff;
	height: 30px;
	left: 54%;
	top: 18%;
	width: 6px;
	position: absolute;
	transform: rotate(45deg);
	transition: .5s;
}
.button_bottom{
	display: block;
	background: #fff;
	height: 30px;
	right: 26%;
	bottom: 46%;
	width: 6px;
	position: absolute;
	transform: rotate(45deg);
	transition: .5s;
}
.button_top__close{
	display: block;
    background: #fff;
    height: 50px;
    left: 50%;
    top: 9%;
    width: 6px;
    position: absolute;
    transform: rotate(135deg) translate(-50%, -50%);
    transition: .5s;
}
.menu_back{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
.menu_back__layer{
	z-index: 10;
}
.bg_middel{
	position: absolute;
	display: block;
	background: #000;
	left: 50%;
	top: 50%;
	width: 0;
	height: 250vh;
	transform: translate(-50%, -50%) rotate(45deg);
	transition: 1s;
}
.bg_top{
    position: absolute;
    display: block;
    height: 250vh;
    width: 0;
    background: #000;
    left: 40vh;
    bottom: 0;
    transform: rotate(45deg) translateY(40%);
    transition: 1s;
}
.bg_bottom{
    position: absolute;
    display: block;
    height: 250vh;
    width: 0;
    background: #000;
    right: 40vh;
    transform: rotate(45deg) translateY(-40%);
    transition: 1s;
}
.bg_opan{
	width: 700px;
	height: 250vh;
}
.promoContent_logo{
	width: 75%;
	user-select: none;
}
.promoContent_info{
	margin: 3% 10%;
	width: 30%;
    font-family: 'Russo One', sans-serif;
}
.promoContent_info__up{
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promoContent_info__up img{
	margin-top: 5%;
	width: 60%;
}
.promoContent_info__up a{
	z-index: 1;
	padding: 25px 80px;
	text-decoration: none;
	margin-top: 45px;
	margin-bottom: 50px;
	font-size: 16px;
	text-transform: uppercase;
	background: linear-gradient(125.98deg, #70C13E 14.86%, #1FB5A8 93.14%);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.promoContent_info__up p{
	font-size: 24px;
	color: #0050C9;
	text-align: center;
	width: 80%;
	margin-top: 10%;
}
.promoContent_info__down{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 15%;
}
.promoContent_info__down a{
	z-index: 1;
	background: #0B4EB5;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 25px 105px;
	font-size: 32px;
	width: fit-content;
}
.info_down{
	display: none;
	width: 260px;
	height: 100px;
	background: #fff;
	position: relative;
	margin-top: -35px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	cursor: pointer;
}
.info_down .arrow{
	display: block;
	position: absolute;
	bottom: 20px;
	left: 45%;
	background: #0050C9;
	transform: translateX(-50%);
	width: 4px;
	border-radius: 5px;
	height: 30px;
	transform: rotate(-50deg);
}
.info_down .arrow:after{
	content: "";
    display: block;
    background: #0050C9;
    width: 4px;
    border-radius: 5px;
    height: 30px;
    position: absolute;
    transform: rotate(100deg);
    left: 13px;
    top: 16px;
}
.contentBlockOne{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contentBlockOne h1{
	color: #F26A08;
	margin-top: 5%;
	text-align: center;
}
.contentBlockOne_row{
	display: flex;
	width: 70%;
	justify-content: space-between;
	margin-top: 3%;
}
.contentBlockOne_colmn{
	width: 15vw;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.contentBlockOne_colmn p.pLarge{
	font-size: 28px;
	color: #0050C9;
	text-align: center;
	margin-top: 10%;
}
.contentBlockOne_colmn p{
	font-size: 24px;
	color: #4C7AA3;
	text-align: center;
}
.contentBlockOne_colmn img{
	width: 40%;
}
.contentBlockOne_tarif{
	background: url(../img/Tarif.png);
    width: 45%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin-top: 5%;
}
.contentBlockOne_tarif ul{
	list-style: none;
	width: 360px;
	height: fit-content;
	position: absolute;
	bottom: 15px;
	top: 110px;
    right: 10%;
}
.contentBlockOne_tarif ul li{
	font-size: 28px;
	color: #4C7AA3;
	display: flex;
	align-items: center;
	margin: 15px 0;
}
.point{
	display: block;
	width: 16px;
	height: 16px;
	background: #59BDEF;
	border-radius: 50%;
	margin-right: 24px;
}
.contentBlockTwo{
	width: 100%;
	height: 212vw;
	display: flex;
    align-items: center;
    flex-direction: column;
	background: url(../img/book.png);
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}
.contentBlockTwo h1{
	color: #0050C9;
	text-align: center;
	padding-top: 5%;
}
.contentBlockTwo img{
	margin-top: 5%;
}
.contentBlockTwo_row{
	display: flex;
	width: 60%;
	margin-top: 5%;
	justify-content: space-between;
}
.contentBlockTwo_row__left{
	padding: 50px 0;
	width: 65%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: linear-gradient(90deg, #D4ECFF -7.67%, #FFFFFF 48.39%);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}
.contentBlockTwo_row__left p.big_text{
	font-size: 36px;
}
.contentBlockTwo_row__left p{
	font-size: 18px;
	color: #455A69;
}
.text_orange{
	color: #F26A08;
	font-weight: bold;
}
.contentBlockTwo_row__right{
	padding: 20px 20px;
	width: 30%;
	background: linear-gradient(180deg, #F3813C -3.54%, #F8CE83 124%);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	color: #fff;
}
.contentBlockTwo_row__right p:first-child{
	font-size: 24px;
	text-align: left;
}
.contentBlockTwo_row__right p{
	font-size: 32px;
	text-align: center;
	margin: 20px 0;
}
h1.white{
	color: #fff;
	margin-top: 10%;
}
.contentBlockTwo_seconRow{
	display: flex;
	width: 60%;
	margin-top: 5%;
	justify-content: space-between;
}
.contentBlockTwo_seconRow h2{
	font-size: 28px;
	color: #0A4DB4;
}
.contentBlockTwo_seconRow__under{
	background: linear-gradient(90deg, #D4ECFF -7.67%, #FFFFFF 48.39%);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}
.contentBlockTwo_seconRow__under p,
.contentBlockTwo_seconRow__under li{
	font-size: 28px;
}
.contentBlockTwo_seconRow__under li{
	display: flex;
	align-items: center;
}
.contentBlockTwo_seconRow__under .point{
	background: #0A4DB4;
}
.text_green{
	color: #1BBC48;
}
footer{
    height: 255px;
    width: 100%;
    background: url(../img/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    user-select: none;
}
.footer_row__left-mobile{
	display: none;
}
.empty{
	color: #fff0;
}
.footer_row{
	height: 100%;
	display: flex;
    justify-content: space-between;
}
.footer_row__left{
	display: flex;
	height: 100%;
	justify-content: space-around;
    width: 40%;
    align-items: center;
    margin-left: 20%;
}
.footer_row__left a{
	font-weight: 600;
	font-size: 1vw;
}
.footer_left__column{
	display: flex;
	height: 45%;
	flex-direction: column;
	justify-content: space-between;
}
.verHr{
	width: 1px;
	height: 45%;
	background: #263F98;
}
.footer_row__right{
    width: 13%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    align-self: center;
}
.footer_row__right h3{
	text-transform: uppercase;
	font-size: 1.5vw;
	color: #fff;

}
.soc_icon{
	display: flex;
	justify-content: space-between;
}
.soc_icon img{
	height: 2vw;
	width: 2vw;
	border-radius: 5%;
}
@media (max-width: 1440px) {
	.promoContent{
		height: 900px;
	}
	.promoContent_info{
		margin: 5% 10%
	}
	.footer_row__left{
		margin-left: 10%;
		width: 50%;
	}
	.footer_row__right{
		width: 240px;
		height: 30%;
	}
	.menu_button{
		width: 145px;
		height: 145px;
	}
	.button_top__close{
		left: 49%;
		top: 7%;
	}
	.footer_row__left a{
		font-size: 1.2vw;
	}
}
@media (min-width: 993px) and (max-width: 1199px) {
	h1{
		font-size: 3.5vw;
	}
	.promoContent_info {
		width: 40%;
	}
	.contentBlockTwo_row{
		margin-top: 15%;
	}
	.footer_row__left{
		margin-left: 5%;
		width: 55%;
	}
	.footer_row__right{
		margin-right: 5%;
		height: 25%;
	}
	.footer_row__right h3{
		text-align: center;
	}
	.footer_row__left a{
		font-size: 1.5vw;
	}
	.footer_row__right h3{
		font-size: 2vw;
	}
	.soc_icon img{
		width: 3vw;
		height: 3vw;
	}
	.promoContent_info__up a{
		font-size: 1.5vw;
	}
	.promoContent_info__down a{
		font-size: 2.5vw;
	}
	.promoContent_info__up p{
		font-size: 2.5vw;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	h1{
		font-size: 3.5vw;
	}
	.promoContent_info__down a{
		font-size: 3vw;
	}
	.menu_button{
		width: 130px;
		height: 130px;
	}
	.button_top{
		top: 17%
	}
	.button_bottom{
		bottom: 45%;
	}
	.button_top__close{
		top: 4%;
	}
	.promoContent_info__up p{
		font-size: 3vw;
	}
	.promoContent_info__up a{
		font-size: 2vw;
	}
	.promoContent{
		height: 800px;
	}
	.promoContent_info {
		width: 50%;
		margin: 5%;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 90%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	footer{
		height: 230px;
		background: url(../img/Footer2.png);
	}
	.footer_row__right{
		height: 25%;
	}
	.footer_row__right h3{
		text-align: center;
		font-size: 2vw;
	}
	.soc_icon img{
		width: 2.5vw;
		height: 2.5vw;
	}
	.footer_row__left a{
		font-size: 1.8vw;
	}
}
@media (max-width: 767px) {
	h1{
		font-size: 24px;
	}
	p{
		font-size: 16px;
	}
	.promoContent_info__down a{
		font-size: 18px;
		padding: 20px 80px;
	}
	.menu_button{
		width: 130px;
		height: 130px;
	}
	.button_top{
		top: 17%
	}
	.button_bottom{
		bottom: 45%;
	}
	.button_top__close{
		top: 4%;
	}
	.promoContent_info__up p{
		font-size: 18px;
	}
	.promoContent_info__up a{
		font-size: 12px;
		padding: 20px 60px;
		margin-top: 10%;
    	margin-bottom: 13%;
	}
	.promoContent{
		height: 650px;
	}
	.promoContent_info {
		width: 50%;
		margin: 5%;
	}
	.footer_row__left{
		margin: 0 5%;
		width: 90%;
	}
	.footer_row__right{
		margin-right: 5%;
	}
	footer{
		height: 500px;
	    background-position: center;
	    background: url(../img/Footer2.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.verHr{
		display: none;
	}
	.footer_row{
		flex-direction: column;
		align-items: center;
	}
	.footer_row__right{
		height: 25%;
		margin:0 0 5% 20%;
	}
	.footer_row__right h3{
		text-align: center;
		font-size: 24px;
	}
	.soc_icon img{
	    width: 35px;
    	height: 35px;
	}
	.footer_row__left a{
		font-size: 16px;
	}
	.footer_row__left{
		display: none;
	}
	.footer_row__left-mobile{
		display: flex;
		height: 100%;
		width: 70%;
		justify-content: space-between;
	}
	.footer_row__left-mobile .Hr{
		height: 80%;
		width: 2px;
		background: #ffffff6b;
		margin-top: 5%;
	}
	.footer_left__column{
		height: 80%;
		margin-top: 5%;
	}
	.footer_left__column a{
		font-size: 18px;
	}
}
@media (max-width: 480px) {
	.menu_button{
		width: 100px;
		height: 100px;
	}
	.button_top{
		left: 49%;
		top: 8%;
	}
	.button_bottom{
		right: 21%;
		bottom: 36%;
	}
	.button_top__close{
		left: 43%;
		top: -4%;
	}
	.promoContent{
		background: url(../img/Promo_background__small.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 1px -1px;
	}
	.promoContent_logo{
		display: none;
	}
	.promoContent_info{
		width: 80%;
		margin: 80% 10% 10% 10%;
	}
	.promoContent_info__up p{
		width: 60%;
		font-size: 20px;
	}
	.footer_left__column a{
		font-size: 16px;
	}
	.footer_row__left-mobile{
		width: 90%;
	}
	.footer_row__right{
		height: 20%;
	}
	.footer_row__right h3{
		font-size: 20px;
	}
}